In [134]:

from datetime import datetime, timedelta

def ultimo_dia_util(data=None):
    # Use a data atual se nenhuma data for fornecida
    if data is None:
        data = datetime.now()
    else:
        data = datetime.strptime(data, "%d-%m-%Y")
    
    if data.weekday() == 5:  # Sábado
        data -= timedelta(days=1)
    elif data.weekday() == 6:  # Domingo
        data -= timedelta(days=2)
    
    return data.strftime("%d-%m-%Y")

In [ ]:
import pandas as pd
def obter_taxa_cdi():
    url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.4389/dados?formato=json'
    taxa = pd.read_json(url)
    # Converte a coluna 'data' para datetime
    taxa['data'] = pd.to_datetime(taxa['data'], dayfirst=True)
    
    # Ordena o DataFrame pela data em ordem decrescente
    taxa = taxa.sort_values(by='data', ascending=False)
    maior = max(taxa.index)
    taxa = taxa
    
    return taxa

In [136]:
import requests
import json
def obter_taxa_selic():
    url = "https://api.bcb.gov.br/dados/serie/bcdata.sgs.1178/dados/ultimos/1?formato=json"
    response = requests.get(url)

    if response.status_code == 200:
        dados = json.loads(response.text)
        taxa_selic = dados[0]["valor"]
        data = dados[0]["data"]
        print(f"Taxa SELIC ({data}): {taxa_selic}%")
    else:
        print("Erro ao obter a taxa SELIC")


print(obter_taxa_selic())

Taxa SELIC (01/11/2024): 10.65%
None

In [137]:
ultimo_dia_uti = ultimo_dia_util()


taxa_cdi = obter_taxa_cdi()


taxa_cdi

           data  valor
9672 2024-10-31  10.65
9671 2024-10-30  10.65
9670 2024-10-29  10.65
9669 2024-10-28  10.65
9668 2024-10-25  10.65
...         ...    ...
4    1986-03-17  18.75
3    1986-03-14  17.67
2    1986-03-12  18.51
1    1986-03-10  18.99
0    1986-03-06  18.72

[9673 rows x 2 columns]